td:first-child {
    width: 35%;
}

td:last-child {
    width: 65%;
}

.not-implemented-note {
    float: right;
    font-style: italic;
    color: grey;
}
#optionsTable th {
    width: 15%;
}

#optionsTable th:last-child {
    width: auto;
}